.venv
.ipynb_checkpoints
/data/.ipynb_checkpoints
*.txt
"data/Intensit‚_s‚cheresses_pass‚es/all-zones.shp/all_zones.shp" 
"data/Intensit‚_s‚cheresses_pass‚es/all-zones.shp/all_zones.shp" 
"data/combined_zones_arretes_2016.csv"
